#content{
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: rgb(42, 5, 77);
    color: white;
    font-size: 24pt;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    /* width: 70%; */
    max-width: 767px;
    
}

footer{
    background-color: rgb(42, 5, 77);
    color: white;
    text-align: center;
    margin: 0 auto;

}
#datediv{
    color: yellow;

}

.min_head{
    background-color: rgb(72, 18, 122);
    color: white;
    text-align: center;
}

main section{
    border: 20px black;
    background-color: #a7a6a8;
    /* align-items: center;
    justify-self: center;
    align-self: center; */
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0.5rem;
    padding: 0 1rem;
    /* width: auto; */
    /* display: block; */
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-align: center;
}

.img{
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    width: 100%;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

/* Tablet view */
@media screen and (min-width: 37.5em) {
    main{
        grid-template-columns: 50%, 50%;
    }
    main section:nth-child(3) {
        grid-column: span 2;
    }
    header{
        width: 50%;
    }
    footer{
        width: 50%;
    }
}

/* Desktop view */
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr, 1fr, 1fr;
    }
    main section{
        width: 33%;
    }
    main section:nth-child(3){
        grid-column: span 1;
    }
    header{
        width: 50%;
    }
    footer{
        width: 50%;
    }
}