body{
    display: block;
}

div{
    display: grid;
    grid-template-columns: 1fr;
}


picture{
    width: 300px;
    height: 400px;
    margin: 10px;
}

img[data-src] {
    filter: hue-rotate(80deg);
    filter: blur(0.3em);
    
}   
  
img {
    filter: blur(0em); 
    transition: filter 2s;
}
